<ion-list lines="none">
    <ion-item *ngFor="let message of messages">
        <chat-message [color]="message.color || '#000'" [backgroundColor]="message.backgroundColor || '#e8e8e8'" [class]="message.align || 'left'">
            <span *ngIf="message.text">{{ message.text }}</span>
            <chat-message-data *ngIf="message.data" [data]="message.data"></chat-message-data>
        </chat-message>
    </ion-item>
</ion-list>
<chat-input [type]="type" [value]="value" [options]="options"></chat-input>