<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultation">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Consultation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diet">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Diet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
