<ion-header>
    <ion-toolbar>
        <ion-title>Your Appointments</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Filter:</ion-label>
            <ion-select value="booked">
                <ion-select-option value="booked">Booked</ion-select-option>
                <ion-select-option value="completed">Completed</ion-select-option>
                <ion-select-option value="cancelled">Cancelled</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        Dr. Test Dr
                        <ion-icon name="ellipsis-vertical-outline" class="ion-float-right"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle>
                        Date &amp; Time: 13-11-2020, 02:00 PM
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-item>
                    <nb-select placeholder="Select language">
                        <nb-option value="bengali">Bengali</nb-option>
                        <nb-option value="english">English</nb-option>
                        <nb-option value="gujrathi">Gujrati</nb-option>
                    </nb-select>
                </ion-item>
                <button nbButton>Start Conference</button>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>